<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" crossorigin="anonymous" >

    <!-- Our CSS integration should below to override the library css -->
    <link rel="stylesheet" href="/css/home.css" >
    <title> <%= title %> </title>
</head>
<body>
    <h1 id="page-heading" > <i class="fas fa-address-book" ></i> Contacts List</h1>

    <div  >
        <ul>
            <% for (let i of contact_list) { %>

                <li class="contact" >
                    <div class="details">
                        <p> <%= i.name %> </p>
                        <p> <%= i.phone %> </p>
                    </div>

                    <div class="delete-button">
                        <a href="/delete-contact/<%= i.phone %>">
                            <i class="fas fa-window-close" ></i>
                        </a>
                    </div>
                </li>

            <% }%>
        </ul>
    </div>

    <form action="/create-contact" method="POST" >
            <input type="text" name="name" placeholder="Enter your name" required >
            <input type="number" name="phone" placeholder="Enter phone number" required >

            <button type="submit">Add Contact</button>
    </form>

    <script type="text/javascript" src="/js/home.js" ></script>
</body>
</html>