<link rel="stylesheet" href="../assets/css/signup.css">

<div class="wrapper" >
    
    <h1 class="" >User Sign-up Form</h1>

    <form action="/user/create" method="POST" >
        <input type="text" name="name" required placeholder="Your name" value="Sunil">
        <input type="email" name="email" required placeholder="Your email" value="Sunil@gmail.com" >
        <input type="password" name="password" required placeholder="Enter Password" value="welcome@123">  
        <input type="password" name="confirm_password" required placeholder="Confirm Password" value="welcome@123" >
        <input type="submit" value="Sign-up" >
    </form>

</div>