<div class="wrapper" >
    
    <h1>User Sign-in Form   </h1>

    <form action="/user/create-session" method="POST" >
        <input type="email" name="email" required placeholder="Your email">
        <input type="password" name="password" required placeholder="Enter Password">    
        <input type="submit" value="Sign-in" >
    </form>

</div>