body{
    text-align: center;
    margin: 0;
    font-family: sans-serif;
}

#page-heading{
    text-align: center;
    margin-top: 25px;
    color: grey;
}

#contact-list-container ul{
    padding: 0;
    list-style: none;
}

