*{
    margin: 0;
    background-color: #f2f2f2;
}

.wrapper{
    width: 500px;
    text-align: center;
    margin: 40px auto;
}

.wrapper form{
    margin: 30px auto;
}

.wrapper form input{
    margin: 10px auto;
}